$theme-colors: (
  "primary": rgba(131, 189, 117, 1),
  "secondary": rgb(212, 212, 212),
);

$font-size-base: 1.35rem;

$font-family-sans-serif: "Varela", sans-serif;

$list-group-active-color: white;
$list-group-active-bg: rgba(131, 189, 117, 1);
$list-group-hover-bg: rgb(191, 241, 144);
$list-group-hover-color: rgb(191, 241, 144);

@import "node_modules\\bootstrap\\scss\\bootstrap";

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 5%;
}

.list-group-item {
  border-radius: 5px;
  margin-bottom: 5%;
  font-size: 35px;
  color: #95d856;
}

.anchor {
  display: block;
  height: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Varela", sans-serif;
}

.b-example-divider {
  height: 3rem;
}

.about-section1 {
  padding-left: 10%;
  margin-right: 10%;
  color: #ffffff;
}

#about {
  max-width: 2500px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin-left: auto;
  font-size: 2rem;
}

.logo {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  text-align: center;
  z-index: 2;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#booknow {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  border-color: #ffffff;
  border-style: double;
  padding: 10px;
}

#mainNav {
  background-color: transparent;
}

#mainNav.navbar-scrolled {
  transition: all 1s ease-in-out;
  background-color: rgb(191, 241, 144);
}

#mainNav.navbar-scrolled .navbar-nav {
  transition: all 1s ease-in-out;
}

.masthead {
  padding: 0;
  height: 100vh;
  margin: auto;
  position: relative;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1), 0 1em 1em rgba(0, 0, 0, 0.15);
}

.owl-stage {
  height: 100vh;
  overflow: hidden;
}

.owl-item {
  height: 100vh !important;
}

.item img {
  height: 100vh !important;
  width: 100vw !important;
  object-fit: fill;
}

#priceIMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socialMediaLogo {
  height: 5rem;
}

.callBtn {
  font-size: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: #a1bf85;
  height: 100px;
  width: 100px;
  border-radius: 100pt;
  text-align: center;
  display: none;
}

#call {
  color: white;
  line-height: 2.2;
}

.imgwrap {
  height: 500px;
  width: 100%;
  border-radius: 5%;
  margin: auto;
  margin-top: 25px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .imgwrap {
    height: 230px;
    margin-bottom: 15px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .list-group-item {
    margin-bottom: 1%;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .logo {
    font-size: 5rem;
  }

  .picture-border {
    display: none;
  }

  .callBtn {
    display: inline;
  }

  .imgwrap {
    height: 300px;
    margin-bottom: 15px;
  }

  .list-group-item {
    margin-bottom: 1%;
    font-size: 18px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
